@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-hero {
  margin-bottom: $--section-y-padding-1024;
  padding-top: 100px;
  padding-bottom: 95px;

  &__pic {
    width: auto;
    height: 100%;
  }

  &__img {}

  &__title {
    max-width: 515px;
  }

  &__descr {
    max-width: 395px;
  }

  &__btns {}
}