@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-forms {
  margin: $--section-y-padding-320 0;
}

.form-sect {
  padding-top: $--section-y-padding-320;
  padding-bottom: $--section-y-padding-320;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  background: $--background-color;

  &:nth-child(2n) {
    background: $--accent-color;
    color: $--white-color;
    .icon-arrow {
      margin: 0 0 0 10px;
      background: $--background-color;
      .icon-arrow__path {
        fill: $--accent-color;
      }
    }
  }

  &__title {
    margin: 0 0 20px;
  }

  &__descr {
    margin: 0 0 50px;
  }

  &__btn {
    margin: auto 0 0 auto;
    // margin: 50px 0 0 auto;
    display: flex;
    align-items: center;
    >.icon-arrow {
      margin: 0 0 0 10px;
      background: $--accent-color;
    }
  }
}