@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.hdr {
  display: flex;
  align-items: center;
  height: $--header-height-320;
  background: $--white-color;

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: top .5s;
    height: $--header-height-320 - 20px;
    .menu__hdr {
      height: $--header-height-320 - 20px;
    }
  }

  &.sticky-hidden {
    top: -100%;
  }

  &__logo-img {
    margin: 0 auto 0 0;
    object-fit: contain;
  }

  &__nav {
    display: none;
  }

  &__nav-list {}

  &__nav-li {}

  &__burger {
    width: 26px;
    height: 14px;
    background: url('../img/icon-burger.svg') center/contain no-repeat;
    &:active {
      transform: scale(.9);
    }
  }
}