@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.hdr {
  height: $--header-height-768;

  &.sticky {
    height: $--header-height-768 - 20px;
  }

  &__logo-img {
    width: 175px;
    height: 40px;
  }

  &__nav {
    display: block;
    font: 300 16px/1.5 $--text-font;
  }

  &__nav-list {
    display: flex;
    align-items: center;
    .nav-link {
      transition: color .5s;
      &:hover {
        color: $--accent-color;
      }
    }
  }

  &__nav-li {
    &:nth-last-child(n-2) {
      margin-right: 2.5em;
    }
  }

  &__burger {
    display: none;
  }
}