@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

.form {
  &__title {
    text-align: center;
  }

  &__descr {
    margin: 0 0 50px;
    text-align: center;
  }

  &__bottom {}
}


form {
  position: relative;
}

// Error message
p.invalid {
  position: absolute;
  left: 0;
  bottom: -20px;
  font: normal 0.75em/1.4 sans-serif;
  color: $--error-color;
}

.check {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 1fr;
  cursor: pointer;
  font: 300 12px/1.5 $--text-font;

  &__inp {
    display: none;

    &:checked {
      +.check-tick__pseudo-inp {
        background: $--accent-color;

        &::before {
          opacity: 1;
        }
      }

      +.check-fill__pseudo-inp {
        // box-shadow: inset 0 0 0 2px $white;
      }
    }
  }

  &__pseudo-inp {
    grid-row: 1;
    grid-column: 1;
  }

  &__text {
    margin: 0 0 auto;
    grid-row: 1;
    grid-column: 2;
  }

  &__link {
    text-decoration: underline;
    transition: text-decoration-color 0.5s;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  >p.invalid {
    margin: 5px 0 0;
    max-width: 75%;
    grid-row: 2;
    grid-column: 2;
    position: static;
    font-size: 0.75em;
    // color: $error;
  }

  // START Checkbox with tick ✔
  &-tick {
    max-width: 250px;

    &:hover {
      >.check__pseudo-inp {
        &::before {
          border-color: $--border-color;
          opacity: 1;
        }
      }

      >.check__text {}
    }

    &__pseudo-inp {
      margin: 0 15px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px; // size of input
      width: 1em;
      height: 1em;
      border: 1px solid $--accent-color;
      pointer-events: none;

      &::before {
        margin: 0.15625em 0 0 0.15625em;
        content: "";
        flex-shrink: 0;
        height: 0.375em;
        width: 0.5625em;
        border-left: 1px solid;
        border-bottom: 1px solid;
        transform: rotate(-45deg);
        transform-origin: left;
        opacity: 0;
        transition: opacity .5s, border-color .5s;
        border-color: $--white-color;
      }
    }

    &__text {}
  }

  // END Checkbox with tick ✔

  // START Checkbox with background
  &-fill {
    &:hover {
      >.check__pseudo-inp {}

      >.check__text {}
    }

    &__pseudo-inp {
      // margin: 0 10px 0 0;
      // width: 10px;
      // height: 10px;
      // box-shadow: inset 0 0 0 10px $white;
      // background: $green;
      // border: 1px solid;
      // border-radius: 2px;
      // transition: box-shadow 0.5s;
    }

    &__text {}
  }

  // END Checkbox with background
}

// START Field (input, textarea)
.field {
  width: 100%;
  display: inline-block;
  font: 300 14px/1 $--text-font;
  position: relative;

  &__textarea,
  &__inp {
    padding: 5px 0;
    width: 100%;
    border: 0;
    background: 0 0;
    font: inherit;
    color: transparent;
    border-bottom: 1px solid $--black-color;
    transition: border-bottom-color .5s color .5s;

    &::placeholder {
      // color: transparentize($black, .5);
    }

    &.invalid {
      transition-delay: 0s;
      border-bottom-color: $--error-color;
    }

    &:focus,
    &.filled {
      &.valid {
        // border-color: $black;
        // border-bottom-color: $black;
      }
    }
  }

  &__textarea {
    padding-top: 0;
    height: calc(1.5em * 3); // 3 lines
    resize: none;
    line-height: 1.5;
  }

  // START Field (input, textarea) with text placeholder
  &__text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    color: $--input-placeholder-color;
    transition: top 0.35s, bottom 0.35s, font-size 0.35s;
    pointer-events: none;
  }

  &__textarea,
  &__inp {

    &:focus,
    &.filled {
      color: $--black-color;
      transition-delay: .35s;

      ~.field__text {
        top: 0;
        bottom: 100%;
        font-size: .7em;
      }
    }
  }

  &__textarea {

    &:focus,
    &.filled {
      ~.field__text {
        top: -15px;
      }
    }
  }

  // END Field (input, textarea) with text placeholder
}

// END Field (input, textarea)


.files-upload-block {
  position: relative;

  &.lazyloaded,
  &:not(.lazy) {
    // .codedropz-btn-wrap {
    .codedropz-upload-inner {
      &::before {
        background-image: url('img/icon-upload-file.svg');
      }
    }
  }
}

.fileupload {
  margin: 0 0 25px;
  &__title {
    margin: 0 0 10px;
    display: block;
  }
}

.codedropz-upload-wrapper {
  font-size: 14px;
}

.wpcf7-drag-n-drop-file {}

.codedropz-upload-handler {
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $--background-color;
  border: 1px dashed $--black-color;
  transition: opacity .5s;
  position: relative;

  &.codedproz-dragover {
    opacity: 0.25;
  }
}

.codedropz-upload-container {}

.codedropz-upload-inner {}

.codedropz-upload-inner>h3,
.codedropz-upload-inner>span,
.wpcf7-drag-n-drop-file.d-none {
  display: none;
}

// .codedropz-btn-wrap {
.codedropz-upload-inner {
  display: flex;
  flex-flow: column;
  align-items: center;

  &::before {
    margin: 0 0 15px;
    content: '';
    width: 42px;
    height: 42px;
    background: center/contain no-repeat;
    transition: filter .5s;
  }
}

.cd-upload-btn {
  font: 500 14px/1 $--text-font;
  color: $--accent-color;
}

.dnd-upload-counter {
  position: absolute;
  bottom: 5px;
  right: 10px;
  font-size: 0.75em;
}

.dnd-upload-status {
  margin: 15px 0 0;
  display: flex;

  &.complete {}

  &.in-progress {
    .remove-file {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

.dnd-upload-image {
  margin: 0 25px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .file {
    width: 24px;
    height: 31px;
    background: url('img/icon-uploaded-file.svg') center/contain no-repeat;
  }
}

.dnd-upload-details {
  width: calc(100% - 49px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .name {
    order: 1;
    width: 100%;
    display: flex;
    align-items: center;

    // filename
    span {
      max-width: 100%;
      font: 500 14px/1.5 $--text-font;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: transparentize($--black-color, .5);
    }

    // filesize
    em {
      margin: 2px 0 0 auto;
      flex-shrink: 0;
      font: 300 normal .75em $--text-font // font-style: normal;
    }
  }

  .remove-file {
    order: 3;
    margin: -1px 0 0 auto;
  }

  .has-error {
    order: 4;
  }
}

.dnd-icon-remove {
  position: relative;
  font-size: 14px;

  &::after {}

  &.deleting {
    color: transparent;
    transition: none;

    &::before {
      transform: none;
      border-radius: 50%;
      border: 1px solid transparent;
      animation: spin .5s linear infinite;
      background: 0 0;
      border-top-color: $--black-color;
      border-left-color: $--black-color;
      position: static;
      width: 1em;
      height: 1em;
      display: block;
    }
    &::after {
      font-size: 0;
    }
  }
}

.dnd-progress-bar {
  order: 2;
  display: block;
  width: calc(100% - 24px);
  height: 11px;
  background: $--background-color;
  overflow: hidden;

  >span {
    padding: 0 5px;
    display: block;
    max-width: 100%;
    height: 100%;
    width: 0;
    font-size: 0;
    font: 300 .6em/11px $--text-font;
    text-align: right;
    color: $--white-color;
    background: $--accent-color;
  }
}

.codedropz-upload-wrapper .has-error-msg,
.dnd-upload-details .has-error {
  color: $--error-color;
  font: 300 .75em/1.5 $--text-font;
}