@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

.form {
  &__title {}

  &__descr {
    font-size: 24px;
  }

  &__bottom {}
}

// Error message
p.invalid {}

.check {

  &__inp {

    &:checked {
      +.check-tick__pseudo-inp {
        &::before {}
      }

      +.check-fill__pseudo-inp {}
    }
  }

  &__pseudo-inp {}

  &__text {}

  &__link {

    &:hover {}
  }

  >p.invalid {}

  // START Checkbox with tick ✔
  &-tick {

    &:hover {
      >.check__pseudo-inp {}

      >.check__text {}
    }

    &__pseudo-inp {

      &::before {}
    }

    &__text {}
  }

  // END Checkbox with tick ✔

  // START Checkbox with background
  &-fill {
    &:hover {
      >.check__pseudo-inp {}

      >.check__text {}
    }

    &__pseudo-inp {}

    &__text {}
  }

  // END Checkbox with background
}

// START Field (input, textarea)
.field {
  font-size: 18px;

  &__textarea,
  &__inp {

    &::placeholder {}

    &.invalid {}

    &:focus,
    &.filled {
      &.valid {}
    }
  }

  &__textarea {}

  // START Field (input, textarea) with text placeholder
  &__text {}

  &__textarea,
  &__inp {

    &:focus,
    &.filled {

      ~.field__text {}
    }
  }

  &__textarea {

    &:focus,
    &.filled {
      ~.field__text {}
    }
  }

  // END Field (input, textarea) with text placeholder
}

// END Field (input, textarea)


.files-upload-block {}

.fileupload {
  &__title {}
}

.codedropz-upload-wrapper {}

.wpcf7-drag-n-drop-file {}

.codedropz-upload-handler {}

.codedropz-upload-container {}

.codedropz-upload-inner {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto auto 1fr;
  font: 16px/1 $--text-font;

  &::before {
    margin: 0 auto 15px;
    grid-row: 1;
    grid-column: 1/span 3;
  }

  >h3 {
    display: block;
    grid-row: 2;
    grid-column: 1;
    font-size: 16px;
  }

  >span {
    margin: 0 5px;
    display: block;
    grid-row: 2;
    grid-column: 2;
  }
}

.codedropz-btn-wrap {
  grid-row: 2;
  grid-column: 3;
  font-size: 16px;
}

.cd-upload-btn {}

.dnd-upload-counter {}