@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-technologies {
  &__title {}

  &__list {
    display: flex;
    flex-wrap: wrap;

    &:not(.slick-slider) {
      max-height: responsive('320->575', '250->300');
      overflow: hidden;
    }

    .slick-list {
      padding: 0 0 1px;
      overflow: hidden;
    }

    .slick-slide {
      >div {
        display: flex;
        align-items: center;
      }
    }
  }
}

.technologies {
  &__item {
    margin: 0 -1px -1px 0;
    height: responsive('320->575', '125->150');
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 1px solid $--border-color;
  }
}

.technology {
  &__img {
    // width: 115px;
    // height: 75px;
    width: 78%;
    height: 62.5%;
    object-fit: contain;
  }
}