@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-technologies {
  &__title {}

  &__list {}
}

.technologies {
  &__item {
    height: 150px;
  }
}

.technology {
  &__img {
    width: 75%;
    height: 63%;
  }
}