@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-contacts {

  .fail-block,
  .success-block {
    display: none;
  }

  &.fail,
  &.success {
    div[role="form"],
    .index-contacts__form-title {
      display: none;
    }
  }

  &.success {
    .success-block {
      display: flex;
    }
  }

  &.fail {
    .fail-block {
      display: flex;
    }
  }

  &-block {
    margin: 30px 0 0;
  }

  &__title {}

  &__left {}

  &__descr {}

  &__right {
    margin: 70px 0 0;
  }

  &__form-title {
    margin: 0 0 45px;
    font: 300 18px/1.5 $--text-font;
  }

  &__form {

    .field {
      &__inp {}

      &__text {}

      &__textarea {}
    }

    .field-name,
    .field-tel,
    .field-msg {
      margin: 0 0 40px;
    }

    .field-name {}

    .field-tel {}

    .field-email {
      margin: 0 0 25px;
    }

    .field-msg {}

    .check {
      max-width: 100%;
      &__inp {}

      &__pseudo-inp {}

      &__text {}

      &__link {}

      &__policy-link {}
    }

    .check-tick {
      &__pseudo-inp {}

      &__text {}
    }

    .btn {
      margin: 25px 0 0;
      width: 100%;
      height: 45px;
    }

    .form__bottom {
      align-items: flex-start;
    }
  }
}

.contacts-block {
  &__contact {}

  &__contact-title {}

  &__contact-tel {}

  &__contact-email {}

  &__contact-link {}
}