@import '../../assets/colors';
@import '../../assets/mixins';
@import '../../assets/variables';

.popup {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  // padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  background: transparentize($--black-color, .3);
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s, visibility .5s;
  overflow: auto;
  z-index: 5;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  .fail-block,
  .success-block {
    display: none;
  }

  &.success {
    div[role="form"] {
      display: none;
    }

    .success-block {
      display: flex;
    }
  }

  &.fail {
    div[role="form"] {
      display: none;
    }

    .fail-block {
      display: flex;
    }
  }

  &__cnt {
    // Popup inside
    padding: 65px 20px 50px;
    max-width: 100%;
    background-color: $--white-color;
    position: relative;
  }

  // START close btn
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;

    &:active {
      transform: scale(.95);
    }
  }

  // START close btn (pure css)
  &__close {}

  // END close btn (pure css)
  // START close btn (svg)
  &__close {
    // width: 17.5px;
    // height: 17.5px;
    // padding: 2.5px;
    // transition: color .4s;

    // &__svg {
    //   pointer-events: none;
    //   width: 100%;
    //   height: 100%;
    // }

    // &__rect {
    //   width: 19px;
    //   height: 2px;
    //   fill: currentColor;
    // }
  }

  // END close btn (svg)
  // END close btn

  &__title {}

  &__descr {}

  &__form {
    .form__bottom {}

    .check {
      max-width: 100%;
    }

    .field {
      margin: 0 0 40px;
    }

    .btn {
      margin: 25px 0 0;
      width: 100%;
      height: 45px;
    }
  }
}