@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.contacts-block {
  &__contact {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    color: $--accent-color;
    font: 300 25px/1.5 $--text-font;
    letter-spacing: 0.01em;

    &:nth-last-child(n+2) {
      margin-bottom: 30px;
    }
  }

  &__contact-title {
    margin: 0 0 10px;
    color: $--black-color;
    font: 500 14px/1.5 $--text-font;
    letter-spacing: normal;
  }

  &__contact-link {
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .5s;

    &:hover {
      border-bottom-color: currentColor;
    }

    &:nth-last-child(n+2) {
      margin-bottom: 5px;
    }
  }

  &__contact-tel {}

  &__contact-email {}
}